def groupJoin : ∀ r0 r1 r : R *, t : *, u0 u1 u : U. Eq t ⇒
    List (Π(u0) r0) → List (Π(u1) r1) → (Π(u0) r0 → t) → (Π(u1) r1 → t) →
    (Π(u0) r0 → List (Π(u1) r1) → Π(u) r) → List (Π(u) r) =
  \tb0 tb1 k0f k1f af.
    map (\r0.
      let k0 : t = k0f r0 in
      af r0 (filter (\r1. eq k0 (k1f r1)) tb1)
    ) tb0
